/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;

   -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s


}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 40%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;

  
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;

  
}

.modal-header {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
  height: 35px;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
  height: 40px;
}

.btnclose
{
   width: 30%;
  background-color: #1A5895;
  color: white;
  /*padding: 14px 20px;*/
  /*margin: 8px 0;*/
  border: none;
  border-radius: 4px;
  cursor: pointer;
  height: 90%;
 margin-top: 3px;
   
  

}
.textform{
  width: 100%;
  padding: 11px 12px;
  margin: 6px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.fa-trash{
  cursor: pointer;
}

.fa-trash-o{
  cursor: pointer;
}

/*ESTILO PARA LOS FORMULARIO CON SU MODAL*/
.textform {
  width: 50%;
  padding: 11px 12px;
  margin: 6px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box; 
}

.btnclose{
  width: 20%;
  background-color: #1A5895;
  color: white;
  padding: 14px 20px;
  
  border: none;
  border-radius: 4px;
  cursor: pointer;
 

}

.btnclose:hover {
  background-color: #81D4E9;
}

.titulo{
  font-size: 20px;
  text-align: center;
}
#contenedor{
text-align: left;
width: 80%;
margin: auto;}

.orden{
    margin: .4em 0;
}
.lavelt{
     width: 10%;
     float: left;
     margin-left: 228px; 
     margin-top: 20px;    
     margin-right:-150px; 

}

.inputfile{
  width: 100%;
  padding: 11px 12px;
  margin: 6px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
