/*ESTILO A TABLA FICHA ADMIN*/
#tablaordenabog {
  font-family:'Arial Narrow',sans-serif;
  border-collapse: collapse;
  width: 1500px;
}

#tablaordenabog td, #tablaordenabog th {
  border: 1px solid #ddd;
  padding: 1px;
  text-align: center;
   border: 1px solid #000;
   border-spacing: 0;
   font-size: 16px;

}


#tablaordenabog tr:hover {background-color: #ddd;}

#tablaordenabog th {
  padding-top: 1px;
  padding-bottom: 1px;
  background-color: #82C244;
  color: white;
}
/*AJUSTA CONTENIDO A DIMENSIONES DE TABLA*/
.responsive
{
  overflow-x:auto;
}
/*ESTILO A ICONOS DE TABLA*/
i{
 color: #1A5895;

}

/*ESTILO CABECERA TABLA LISTA DE ORDENES (VISTA PROCURADOR)*/
#formato td, {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #82C244;
  color: white;
}
 #fila1{
    background: #82C244;
   color:white;
  }
  #fila2{
    background: #B1EF07;
  }

/*tabla  orden del contador*/
  #tablaordencont {
 font-family:'Arial Narrow',sans-serif;
  border-collapse: collapse;
  width: 1500px;
}

#tablaordencont td, #tablaordencont th {
  border: 1px solid #ddd;
  padding: 1px;
  text-align: center;
   border: 1px solid #000;
   border-spacing: 0;
   font-size: 16px;

}


#tablaordencont tr:hover {background-color: #ddd;}

#tablaordencont th {
  padding-top: 1px;
  padding-bottom: 1px;
  background-color: #82C244;
  color: white;
}
/*AJUSTA CONTENIDO A DIMENSIONES DE TABLA*/
.responsive
{
  overflow-x:auto;
}
/*ESTILO A ICONOS DE TABLA*/
i{
 color: #1A5895;

}