/*ESTILO A TABLA FICHA ADMIN*/
#tablaordenadm {
  font-family:'Arial Narrow',sans-serif;
  border-collapse: collapse;
  width: 1600px;
}

#tablaordenadm td, #tablaordenadm th {
  border: 1px solid #ddd;
  padding: 1px;
  text-align: center;
   border: 1px solid #000;
   border-spacing: 0;
   font-size: 16px;

}


#tablaordenadm tr:hover {background-color: #ddd;}

#tablaordenadm th {
  padding-top: 1px;
  padding-bottom: 1px;
  background-color: #82C244;
  color: white;
}
/*AJUSTA CONTENIDO A DIMENSIONES DE TABLA*/
.responsive
{
  overflow-x:auto;
}
/*ESTILO A ICONOS DE TABLA*/
i{
 color: #1A5895;

}

/*ESTILO CABECERA TABLA LISTA DE ORDENES (VISTA PROCURADOR)*/
#formato td, {
  padding-top: 1px;
  padding-bottom: 1px;
  background-color: #82C244;
  color: white;
}

 #fila1{
    background: #82C244;
   color:white;
  }
  #fila2{
    background: #B1EF07;
  }
